// .leaderboard-preview {

// }
.leaderboard-preview__list {
    display: flex;
    flex-direction: column;
}

.leaderboard-preview__item {
    display: flex;
    justify-content: space-between;
    padding-top: 0.8rem;
}

.leaderboard-preview__info {
    display: flex;
    flex-direction: column;
}

.leaderboard-preview__player {
    display: flex;
    flex-direction: row;
}

.user-avatar {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.leaderboard-preview__position {
    font-weight: 600;
    font-size: small;
    color: $gray-600;
}

.leaderboard-preview__name {
    font-weight: 600;
    font-size: 16px;
    color: $gray-800;
}

.leaderboard-preview__wins-count {
    font-weight: 600;
}

.leaderboard-preview__wins-count--current-user {
    color: rgb(49, 176, 49);
}

[data-bs-theme="dark"] .leaderboard-preview__name {
    color: $gray-400;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}